.materias{
    border-style:dashed;
    border-width: 0.1vw;
    border-color: black;
    padding: 0.5vw;

    display:inline-table;
    
    margin: 1vw;
    width: 46vw;
}

iframe{
    height: 150px;
}

button{
    margin-bottom: 1vw;
}

summary{
    user-select: none;
}